<div id='lostFormWrap'>
  <!-- <form method="get" action="/users/sign_in"> -->
    <div class="lostLabel">LOST ITEM</div>
    <div class='whiteBackground'>
        <p class='itemP'><span class='boldText'>Category 1:&nbsp;&nbsp;</span><%= value.cat1%></p>
        <p class='itemP'><span class='boldText'>Category 2:&nbsp;&nbsp;</span><%= value.cat2%></p>
        <p class='itemP'><span class='boldText'>Item Description:&nbsp;&nbsp;</span><%= value.extra_info%></p>
        <p class='itemP'><span class='boldText'>Date Lost:&nbsp;&nbsp;</span><%= value.date%></p>
        <p class='itemP'><span class='boldText'>Time Lost:&nbsp;&nbsp;</span><%= value.time%></p>
        <p class='itemP'><span class='boldText'>Place Description:&nbsp;&nbsp;</span><%= value.place%></p>

        <button align='middle' class='buttonClass'>Contact Person</button>
    </div>
  <!-- </form> -->
</div>
