<!DOCTYPE html>
<html>
<head>
  <title>oomerang | a new kind of lost &amp; found</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEi9htZN3uanHiVC90BoxZzy_VeF5In5k&sensor=true&libraries=places"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
</head>
<body>

    <!-- Wrap all page content here -->
    <div id="wrap">

        <!-- Main nav -->
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <a href="/"><span class="navbar-brand">oomerang</span></a>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Sign in</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Account</a></li>
                    </ul>
                </li>
            </ul>
        </nav><!-- End nav -->

        <!-- Mobile search form -->
        <div class="visible-sm visible-xs searchbar">
            <%= render "search_form" %>
        </div><!-- End search form -->

        <!-- Desktop sidebar -->
        <div class="hidden-sm hidden-xs sidebar">
            <%= render "search_form" %>
            <%= render "buttons" %>
            <%# render "item_form" %>

        </div>

        <!-- All dynamic content gets generated here -->
        <div class="container">
            <%= yield %>
        </div>

    </div><!-- End wrap -->

    <!-- Mobile buttons -->
    <div class="visible-sm visible-xs">
        <%= render "buttons" %>
    </div><!-- End buttons -->

    <!-- Footer begins here -->
    <div id="footer">
        <a href="https://twitter.com/share" class="twitter-share-button hidden-sm hidden-xs" data-url="http://oomerang.herokuapp.com/" data-hashtags="lostandfound">Tweet</a>
    </div><!-- End footer -->

</body>
</html>
